* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;

  background-color: white;
  color: rgba(0, 0, 0, 0.97);
  margin: 2rem;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
}

form {
  display: flex;
  gap: 1rem;
  width: 100%;
}
input {
  font: inherit;
  width: 100%;
  height: 2.5rem;
  padding: 0.25rem 0.75rem;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
input:hover {
  border-color: rgba(0, 0, 0, 0.5);
}
input:focus {
  border-color: #0066ff;
  outline: 2px solid rgba(0, 102, 255, 0.25);
}
button {
  font: inherit;
  white-space: nowrap;
  padding: 0.25rem 1.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0066ff;
  background-color: #0066ff;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
}
button:hover {
  border-color: #2277ff;
  background-color: #2277ff;
  outline: 0;
}
button:active {
  transform: translateY(1px);
  background-color: #0055ff;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
li {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
  padding: 0.25rem;
}
li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
li > span {
  font-style: italic;
  color: rgba(0, 0, 0, 0.75)
}
li > strong {
  font-weight: 700;
}
li  button {
  background-color: transparent;
  border-radius: 999px;
  border-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  flex: 0 0 auto;
  padding: 0;
}
li  button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.5);
}
li  button > svg {
  fill: rgba(0, 0, 0, 0.97);
}

.silent {
  color: rgba(0, 0, 0, 0.75);
  font-style: italic;
}